.card-project {
   margin-bottom: 5rem;
   opacity: 0;
   transition: opacity 0.5s ease-in;
}

.animate {
   opacity: 1;
   animation: moveUp 0.5s ease-in;
}

@keyframes moveUp {
   0% {
      transform: translateY(100px);
   }
   100% {
      transform: translateY(0);
   }
}

@media screen and (min-width: 1440px) {
   .cards-container {
      padding-top: 2rem;
   }
}
