<section id="proyectos">
  <app-add-button></app-add-button>

  <h2>Proyectos</h2>

  <div class="w-11 lg:w-10 xl:w-8 m-auto">
    <div class="card-project">
      <app-card-project
        typeCard="project"
        classIcon="pi pi-wrench text-7xl text-green-700"
      ></app-card-project>
    </div>
    <div class="card-project">
      <app-card-project
        typeCard="project"
        classIcon="pi pi-wrench text-7xl text-green-700"
      ></app-card-project>
    </div>
  </div>
</section>
