.card-project {
   margin-bottom: 3rem;
   opacity: 0;
   transition: opacity 0.5s ease-in;
}

.cards-container {
   max-width: max-content;
}

.animate {
   opacity: 1;
   animation: moveUp 0.5s ease-in;
}

@keyframes moveUp {
   0% {
      transform: translateY(100px);
   }
   100% {
      transform: translateY(0);
   }
}
