<div class="main-form">
  <div class="form-container">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="logIn()">
      <h2 class="form-title">Iniciar Sesión</h2>

      <div class="field">
        <span class="p-float-label">
          <input
            pInputText
            id="user"
            class="p-inputtext-lg w-12"
            type="text"
            formControlName="email"
            (blur)="onBlurEvent($event)"
          />
          <label for="email">Email</label>
        </span>
        <small *ngIf="isInvalidField('email')" class="p-error block">
          El campo es obligatorio en formato email.
        </small>
      </div>

      <div class="field">
        <span class="p-float-label">
          <input
            pInputText
            id="password"
            class="p-inputtext-lg w-12"
            type="password"
            formControlName="password"
            (blur)="onBlurEvent($event)"
          />
          <label for="password">Contraseña</label>
        </span>
        <small *ngIf="isInvalidField('password')" class="p-error block"> Mínimo 6 caracteres. </small>
      </div>

      <div class="line-form"></div>

      <div class="text-center py-3">
        <app-button-primeng
          type="submit"
          label="Ingresar"
          class="w-11 p-button-raised text-xl py-2"
          [loadingState]="loadingBtn"
        ></app-button-primeng>
      </div>
      <div class="text-center mt-5">
        <app-btn-back-portfolio></app-btn-back-portfolio>
      </div>
    </form>
  </div>
</div>

<p-toast
  key="loginToast"
  [breakpoints]="{ '500px': { width: '100%', right: '0', left: '0' } }"
  position="bottom-right"
></p-toast>
