<app-spinner [availableSpinner]="availableSpinner"></app-spinner>

<div>
  <app-header [isLogged$]="isLogged$"></app-header>

  <app-projects [isLogged$]="isLogged$" [documentScroll$]="documentScroll$"></app-projects>
  <app-skills [isLogged$]="isLogged$" (modalEmit)="changeAvailableSpinner($event)"></app-skills>

  <app-studies [isLogged$]="isLogged$" [documentScroll$]="documentScroll$"></app-studies>

  <app-footer></app-footer>
</div>

<app-alert-confirm key="deleteAlert"></app-alert-confirm>
