<section id="technologies">
  <app-add-button *ngIf="isLogged$ | async" routerLink="/edition/create/skill"></app-add-button>

  <h2>Herramientas</h2>

  <div class="skills-container">
    <app-hard-skills
      *ngFor="let item of skillsM"
      [name]="item.name"
      [skillIcon]="item.iconHTML"
      [isLogged$]="isLogged$"
      (onEdit)="showModal(item)"
      (onDelete)="delete(item._id!)"
    ></app-hard-skills>
  </div>
</section>

<!-- MODAL -->
<app-modal-form
  [displayModal]="displayModal"
  (hideModal)="hideModal()"
  (editSkill)="refreshSkills($event)"
></app-modal-form>
