<section id="habilidades">
  <app-add-button
    *ngIf="isLogged$ | async"
    routerLink="/edition/create/skill"
  ></app-add-button>

  <h2>Habilidades</h2>

  <div
    class="w-11 xl:w-10 m-auto flex flex-wrap justify-content-center row-gap-8 pt-4 pb-8 mb-7"
  >
    <app-hard-skills
      *ngFor="let item of skills"
      [name]="item.name"
      [skillIcon]="item.iconHTML"
      [colorIcon]="item.color || ''"
      (onEdit)="showModal(item)"
      (onDelete)="delete(item._id!)"
      [isLogged$]="isLogged$"
    ></app-hard-skills>
  </div>

  <app-soft-skills></app-soft-skills>
</section>

<!-- MODAL -->
<app-modal-form
  [displayModal]="displayModal"
  (hideModal)="hideModal()"
  (editSkill)="refreshSkills($event)"
></app-modal-form>
