<section id="habilidades" class="min-h-screen">
  <app-add-button></app-add-button>

  <h2>Habilidades</h2>

  <div class="flex flex-wrap justify-content-center row-gap-6 w-11 m-auto pb-8 mb-7">
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
    <app-hard-skills></app-hard-skills>
  </div>

  <app-soft-skills></app-soft-skills>
</section>
