.sk-slider {
   display: flex;
   animation-name: infiniteSlide;
   animation-duration: 20s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

@keyframes infiniteSlide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-1845.89px);
   }
}

.sk-slider-section {
   display: flex;
}

.sk-item {
   align-items: center;
   display: flex;
   border-radius: 6rem;
   color: antiquewhite;
   font-size: 16px;
   margin: 0 0.4rem;
   min-width: max-content;
   padding: 10px 36px;
}

.arrow {
   width: 48.5px;
   padding: 0;
   background-color: #000e;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.bg-transparent {
   color: var(--surface-800);
   border: solid 3px var(--surface-800);
}

.green {
   color: var(--surface-800);
   background-color: var(--green-900);
}

.yellow {
   color: #000;
   background-color: #f9b627;
}

.fa-arrow-right {
   font-size: 1.3rem;
}

p {
   font-size: 15px;
   padding: 0;
   padding-bottom: 0px;
   margin: 0;
   color: aliceblue;
}
