<div class="mb-5">
  <article class="sk-slider">
    <div class="sk-slider-section">
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Trabjo en equipo</div>
      <div class="sk-item bg-transparent">Proactividad</div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item arrow bg-transparent">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Apredizaje continuo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item green">Trabajo en equipo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
    </div>

    <div class="sk-slider-section">
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Trabjo en equipo</div>
      <div class="sk-item bg-transparent">Proactividad</div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item arrow bg-transparent">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Apredizaje continuo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item green">Trabajo en equipo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
    </div>

    <div class="sk-slider-section">
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Trabjo en equipo</div>
      <div class="sk-item bg-transparent">Proactividad</div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item arrow bg-transparent">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item green">Apredizaje continuo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
      <div class="sk-item arrow">
        <i class="fa-solid fa-arrow-right"></i>
      </div>
      <div class="sk-item yellow">Comunicación efectiva</div>
      <div class="sk-item green">Trabajo en equipo</div>
      <div class="sk-item bg-transparent">Autogestión</div>
    </div>
  </article>
</div>
