.form-skill-icon {
   width: 5rem;
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
   margin: auto;
   overflow: hidden;
}

.form-skill-icon ::ng-deep i {
   font-size: 3rem;
   color: cadetblue;
}

@media screen and (min-width: 1440px) {
   .form-skill-icon {
      width: 6rem;
      height: 8rem;
   }
}
