.form-skill-icon {
   height: 9rem;
   padding-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.form-skill-icon ::ng-deep i {
   font-size: 7rem;
   color: cadetblue;
}

@media screen and (max-width: 768px) {
   .form-skill-icon ::ng-deep i {
      font-size: 5rem;
   }
}
