<div
  class="mx-4 md:mx-6 xl:mx-7"
  (mouseover)="mouseOver = true"
  (mouseleave)="mouseOver = false"
>
  <div *ngIf="false" class="flex justify-content-center pb-3">
    <app-edit-button (click)="editEmit()"></app-edit-button>
    <app-delete-button (click)="deleteEmit()"></app-delete-button>
  </div>

  <div
    class="transition-all transition-duration-400 transition-ease-in skill"
    [innerHTML]="skillIcon"
    [ngStyle]="{ color: mouseOver ? colorIcon : '' }"
  >
  </div>

  <h6 class="text-center py-2 text-xl font-normal">{{ name }}</h6>
</div>
