.skill {
   color: var(--surface-300);
   display: flex;
   justify-content: center;
}

.skill ::ng-deep i {
   font-size: 4.89rem;
   color: inherit;
}

@media screen and (max-width: 768px) {
   .skill ::ng-deep i {
      font-size: 4.2rem;
   }
}
