<section #stdSection id="formacion" class="studies-section border-none mb-0">
  <app-add-button
    *ngIf="isLogged$ | async"
    routerLink="/edition/create/study"
  ></app-add-button>

  <h2>Formación</h2>

  <div
    #studiesContainer
    class="w-11 lg:w-10 xl:w-8 m-auto py-4 border-round-2xl studies-div cards-container"
  >
    <!-- <div *ngFor="let item of studies" class="studies">
      <app-card-project
        typeCard="study"
        classIcon="pi pi-book text-6xl text-200"
        editLink="/edition/edit/study/{{ item._id }}"
        [name]="item.name"
        [description]="item.institution || ''"
        [start]="item.start"
        [end]="item.end || ''"
        (onDelete)="delete(item._id!)"
      ></app-card-project>
    </div> -->
  </div>
</section>
