<section id="formacion" class="studies-container border-none mb-0">
  <app-add-button></app-add-button>

  <h2>Formación</h2>

  <div class="w-11 lg:w-10 xl:w-8 m-auto py-4 surface-card border-round-2xl">
    <div class="studies">
      <app-card-project
        typeCard="study"
        classIcon="pi pi-book text-6xl text-purple-700"
      ></app-card-project>
    </div>
    <div class="studies">
      <app-card-project
        typeCard="study"
        classIcon="pi pi-book text-6xl text-purple-700"
      ></app-card-project>
    </div>
  </div>
</section>
