<footer class="footer">
  <div class="flex flex-column lg:flex-row justify-content-between pb-4">
    <div class="pb-2">
      <ul class="list flex flex-wrap column-gap-3 list-none mr-8">
        <li><a fragment="inicio">Inicio</a></li>
        <li><a fragment="acerca">Acerca</a></li>
        <li>
          <a fragment="educacion">Proyectos</a>
        </li>
        <li>
          <a fragment="habilidades">Habilidades</a>
        </li>
        <li>
          <a fragment="experiencia">Formación</a>
        </li>
      </ul>
    </div>
    <div>
      <span class="text-xl">Contacto: </span><span>salvanadiego@gmail.com</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="py-4">
    <p class="text-center">Copyrigth © 2023</p>
  </div>
</footer>
