<footer class="footer">
  <div class="flex flex-column lg:flex-row justify-content-between pb-4">
    <div class="pb-4 lg:pb-2">
      <ul class="list flex flex-wrap column-gap-3 list-none lg:mr-8">
        <li><span routerLink="/" fragment="inicio">Inicio</span></li>
        <li><span routerLink="/" fragment="acerca">Acerca</span></li>
        <li><span routerLink="/" fragment="proyectos">Proyectos</span></li>
        <li><span routerLink="/" fragment="habilidades">Habilidades</span></li>
        <li><span routerLink="/" fragment="formacion">Formación</span></li>
      </ul>
    </div>
    <div class="sm:pb-2">
      <span class="text-xl">Contacto: </span><span>salvanadiego@gmail.com</span>
    </div>
  </div>
  <div class="media-icons sm:hidden">
    <a
      href="https://www.linkedin.com/in/diego-salva%C3%B1%C3%A1-38b479246/"
      target="_blank"
      rel="noopener"
      class="mr-3"
    >
      <i class="pi pi-linkedin"></i>
    </a>
    <a
      href="https://github.com/Diego-Salvana"
      target="_blank"
      rel="noopener"
      class="mr-3"
    >
      <i class="pi pi-github"></i>
    </a>
  </div>
  <div class="line"></div>
  <div class="py-4">
    <p class="text-center">Copyrigth © 2023</p>
  </div>
</footer>
