<footer id="contact" class="footer">
  <section>
    <div class="contact">
      <h2 class="contact__title">Contacto</h2>

      <form #myForm [formGroup]="contactForm" class="contact__form" (ngSubmit)="sendEmail()">
        <fieldset>
          <input formControlName="name" type="text" placeholder="Nombre" name="user_name" />
          <p class="error-text">Escribe un nombre</p>
        </fieldset>
        <fieldset>
          <input formControlName="email" type="email" placeholder="Email" name="user_email" />
          <p class="error-text">Escribe un email válido</p>
        </fieldset>
        <fieldset>
          <textarea
            formControlName="message"
            cols="30"
            rows="6"
            placeholder="Mensaje"
            name="message"
          ></textarea>
          <p class="error-text">Escribe un mensaje</p>
        </fieldset>

        <button #btnSubmit class="btn-submit">Enviar</button>
      </form>
    </div>

    <div class="line"></div>

    <div class="nav-menu">
      <ul class="nav-menu__list">
        <li routerLink="/" fragment="initial">Inicio</li>
        <li routerLink="/" fragment="projects">Proyectos</li>
        <li routerLink="/" fragment="technologies">Herramientas</li>
        <li routerLink="/" fragment="layouts">Maquetado</li>
        <li routerLink="/" fragment="contact">Contacto</li>
      </ul>

      <div class="nav-menu__social">
        <span>Redes: </span>

        <div class="btns">
          <a href="https://www.linkedin.com/in/diego-salvana/" target="_blank" rel="noreferrer" class="mr-3">
            <i class="pi pi-linkedin"></i>
          </a>
          <a href="https://github.com/Diego-Salvana" target="_blank" rel="noreferrer" class="mr-3">
            <i class="pi pi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</footer>

<p-toast
  [breakpoints]="{ '500px': { width: '100%', right: '0', left: '0' } }"
  position="bottom-right"
  key="email"
></p-toast>
