.footer {
   color: var(--surface-400);
   background-color: #000d;
   min-height: 140px;
   padding: 30px 11vw 30px;
   font-size: 1.25rem;
   font-weight: normal;
}

li > span {
   padding-bottom: 0.25rem;
   cursor: pointer;
   transition: all 0.1s ease-out;
}

li > span:hover {
   color: var(--surface-300);
   border-bottom: 3px solid var(--green-400);
}

.contact {
   user-select: none;
}

.line {
   height: 0.5rem;
   background-color: var(--green-700);
   border-radius: 50%;
}

.media-icons {
   padding-bottom: 1.5rem;
   text-align: center;
}

.media-icons i {
   font-size: 21px;
   color: var(--surface-300);
   transition: all 0.1s ease-in;
}

.media-icons i:hover {
   color: var(--surface-200);
}
