<form [formGroup]="formProject" (ngSubmit)="onSaveEmit()" autocomplete="off">
  <h2 class="form-title">{{ title }}</h2>
  <div class="field">
    <span class="p-float-label">
      <input
        pInputText
        id="projectName"
        class="p-inputtext-lg w-12"
        type="text"
        formControlName="name"
        (blur)="onBlurEvent($event)"
      />
      <label for="projectName">Nombre</label>
    </span>
    <small *ngIf="isInvalidField('name')" class="p-error block">
      El campo es obligatorio. Máximo 50 caracteres.
    </small>
  </div>

  <div class="field">
    <span class="p-float-label">
      <textarea
        pInputTextarea
        id="projectDescription"
        class="w-12 text-lg"
        [rows]="5"
        [autoResize]="true"
        formControlName="description"
        (blur)="onBlurEvent($event)"
      ></textarea>
      <label for="projectDescription">Descripción</label>
      <small *ngIf="isInvalidField('description')" class="p-error block">
        El campo es obligatorio. Máximo 250 caracteres.
      </small>
    </span>
  </div>

  <div class="field">
    <span class="p-float-label">
      <input
        pInputText
        id="linkWeb"
        class="p-inputtext-lg w-12"
        type="text"
        formControlName="linkWeb"
      />
      <label for="linkWeb">Link Web</label>
    </span>
  </div>

  <div class="field">
    <span class="p-float-label">
      <input
        pInputText
        id="linkGitHub"
        class="p-inputtext-lg w-12"
        type="text"
        formControlName="linkGitHub"
        (blur)="onBlurEvent($event)"
      />
      <label for="linkGitHub">Link Git-Hub</label>
    </span>
    <small *ngIf="isInvalidField('linkGitHub')" class="p-error block">
      El campo es obligatorio.
    </small>
  </div>

  <div class="line-form"></div>

  <div class="text-center sm:text-left py-3">
    <app-button-primeng
      type="submit"
      class="p-button-info w-11 sm:w-10rem text-lg py-2"
      [label]="btnLabel"
      [loadingState]="loadingBtn"
    ></app-button-primeng>
  </div>
  <div class="text-center mt-5">
    <app-btn-back-portfolio></app-btn-back-portfolio>
  </div>
</form>
