.card-project {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: auto;
   max-width: 615px;
}

.card-project__img-container {
   width: 70vw;
   max-width: 300px;
   filter: brightness(0.95);
}

.card-project__img-container img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   display: block;
}

.card-project__description {
   padding-top: 20px;
}

.card-project__description a {
   display: inline-block;
}

.edition-btns {
   float: right;
   margin-left: 5px;
   margin-bottom: 5px;
}

.project-title {
   font-weight: 700;
   font-size: 25px;
   color: var(--almost-black);
   padding-bottom: 16px;
}

.text-description,
.technologies {
   font-weight: 500;
   font-size: 16px;
   color: var(--medium-gray);
   line-height: 1.5;
}

.technologies {
   margin-bottom: 20px;
}

.btn-black {
   display: flex;
   align-items: center;
   background: var(--almost-black);
   color: var(--almost-white);
   font-weight: 700;
   font-size: 15px;
   font-family: Epilogue;
   border: 2px solid var(--almost-black);
   padding: 10px 14px;
   border-radius: 1px;
   transition: all 0.1s linear;
}

.btn-black:hover {
   background-color: var(--almost-white);
   color: var(--almost-black);
   cursor: pointer;
}

.btn-black i {
   font-size: 15px;
}

.btn-black span {
   display: inline-block;
   margin-left: 8px;
   transform: translateY(1px);
}

@media screen and (min-width: 1440px) {
   .card-project {
      flex-direction: row;
      max-width: 1000px;
   }

   .card-project__img-container {
      max-width: 250px;
      filter: grayscale(1);
   }

   .card-project:hover .card-project__img-container {
      filter: grayscale(0);
   }

   .card-project__description {
      text-align: left;
      padding-top: 0;
      padding-left: 80px;
   }

   .project-title {
      font-size: 28px;
   }

   .text-description,
   .technologies {
      font-size: 17px;
   }
}
