<div class="card-project w-12" [ngClass]="{ 'border-none': typeCard === 'study' }">
  <div
    class="px-5 hidden md:flex align-items-center border-right-1 border-300 icon-container"
  >
    <i [class]="classIcon"></i>
  </div>
  <div class="md:pl-5 w-12">
    <div *ngIf="isLogged$ | async" class="float">
      <app-edit-button [routerLink]="editLink"></app-edit-button>
      <app-delete-button (click)="deleteEmit()"></app-delete-button>
    </div>

    <h3
      class="text-2xl md:text-3xl font-normal text-800 mb-2"
      [ngClass]="{ 'h-study': typeCard === 'study' }"
    >
      {{ name }}
    </h3>

    <p class="text-description mb-4 text-700">{{ description }}</p>

    <div *ngIf="typeCard === 'project'">
      <a *ngIf="linkWeb" [href]="linkWeb" target="_blank" rel="noopener">
        <app-button-primeng
          class="p-button-text p-button-rounded text-green-500 mr-2"
          label="Web"
          icon="pi pi-globe"
        ></app-button-primeng>
      </a>

      <a *ngIf="linkGitHub" [href]="linkGitHub" target="_blank" rel="noopener">
        <app-button-primeng
          class="p-button-text p-button-rounded text-yellow-500"
          label="Git-Hub"
          icon="pi pi-github"
        ></app-button-primeng>
      </a>
    </div>

    <div *ngIf="typeCard === 'study'">
      <span class="text-description mb-4 text-500">{{ start }} </span>
      <span *ngIf="end" class="text-description mb-4 text-500"
        >- {{ end }}</span
      >
    </div>
  </div>
</div>
