.card-project {
   display: flex;
   justify-content: flex-start;
   padding: 2rem 4vw;
   margin: auto;
   background-color: var(--surface-card);
   border-radius: 1rem;
   max-width: 1100px;
}

.icon-container {
   color: rgba(0,0,0,0.5)
}

.float {
   float: right;
}

@media screen and (min-width: 900px) {
   .h-study {
      font-size: 1.7rem !important;
   }
}
