<div class="card-project">
  <div class="card-project__img-container">
    <img src="../../../../assets/images/miniatura-portafolio.png" alt="Project Image" />
  </div>

  <div class="card-project__description">
    <div *ngIf="isLogged$ | async" class="edition-btns">
      <app-edit-button [routerLink]="editLink"></app-edit-button>
      <app-delete-button (click)="deleteEmit()"></app-delete-button>
    </div>

    <h3 class="project-title">{{ name }}</h3>

    <p class="text-description mb-2">{{ description }}</p>

    <!-- <p class="text-description mb-2">La aplicación permite buscar información sobre países de todo el mundo. Cuenta con la posibilidad de registrar usuarios y una sección de favoritos.</p> -->

    <p class="technologies"><strong>Tecnologías:</strong> {{ splitDescription().technologies }}</p>

    <div>
      <a *ngIf="linkWeb" [href]="linkWeb" target="_blank" rel="noreferrer" class="mr-3">
        <button pRipple class="btn-black">
          <i class="pi pi-globe"></i>
          <span>Link Web</span>
        </button>
      </a>

      <a *ngIf="linkGitHub" [href]="linkGitHub" target="_blank" rel="noreferrer">
        <button pRipple class="btn-black">
          <i class="pi pi-github"></i>
          <span>Git-Hub</span>
        </button>
      </a>
    </div>
  </div>
</div>
