<form [formGroup]="formAboutMe" (submit)="onSaveEmit()" autocomplete="off">
  <h2 class="form-title">Modificar Acerca</h2>
  <div class="field">
    <span class="p-float-label">
      <textarea
        pInputTextarea
        id="text-area"
        class="w-12 text-lg"
        [rows]="8"
        [autoResize]="true"
        formControlName="aboutMeText"
        (blur)="onBlurEvent($event)"
      ></textarea>
      <label for="text-area">Acerca de mí</label>
    </span>
    <small *ngIf="isInvalidField('aboutMeText')" class="p-error block">
      El campo es obligatorio.
    </small>
  </div>

  <div class="line-form"></div>

  <div class="text-center sm:text-left py-3">
    <app-button-primeng
      class="p-button-info w-11 sm:w-10rem text-lg py-2"
      label="Guardar"
      type="submit"
      [loadingState]="loadingBtn"
    ></app-button-primeng>
  </div>
  <div class="text-center mt-5">
    <app-btn-back-portfolio></app-btn-back-portfolio>
  </div>
</form>
