*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

html,
body {
   width: 100%;
   background-color: var(--surface-b);
   font-family: var(--font-family);
   color: var(--text-color);
   scroll-behavior: smooth;
   overflow-x: hidden;
}

section {
   position: relative;
   padding-bottom: 4rem;
   margin-top: 7rem;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-image: radial-gradient(#ccc1, 95%, transparent) 1;
   overflow-x: hidden;
}

section > h2 {
   margin-bottom: 4.5rem;
   text-align: center;
   color: #f9b627;
   font-size: calc(2.2rem + 0.3vw);
   font-weight: 400;
}

/* Formularios */
.main-form {
   background-color: var(--surface-50);
   width: 100%;
   min-height: 100vh;
   padding: 1rem;
}

.form-container {
   background-color: var(--surface-50);
   padding-top: 2rem;
   padding-bottom: 5rem;
   border-radius: 10px;
   max-width: 550px;
   margin: auto;
}

.form-title {
   font-size: 2rem;
   font-weight: 400;
   text-align: center;
   padding-bottom: 2rem;
}

.field {
   padding-top: 2rem;
}

.line-form {
   height: 2px;
   background-color: var(--green-900);
   border-radius: 50%;
   margin: 4rem 0 2rem;
}

@media screen and (min-width: 576px) {
   .main-form {
      background-color: #121212;
   }

   .form-container {
      padding-left: 5rem;
      padding-right: 5rem;
      margin-top: 4rem;
   }

   .form-title {
      font-size: 2.5rem;
   }
}
