article {
   position: relative;
   padding-top: 15px;
}

app-edit-button {
   background-color: #222;
   border-radius: 2px;
   float: right;

   margin-left: 10px;
   margin-bottom: 10px;
}

.about {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   max-width: 612px;
   background-color: #0003;
   border-radius: 10px;
   text-shadow: 2px 2px 2px black;
}

@media screen and (min-width: 1440px) {
   .about {
      font-size: 18px;
      line-height: 1.6;
      background-color: transparent;
      text-wrap: balance;
   }
}
