#acerca {
   background: radial-gradient(#202020, #1f1f1f, #1c1c1c 75%, transparent);
}

app-edit-button {
   position: absolute;
   right: 5vw;
   top: 30px;
}

.text-about {
   padding: 0 6vw;
   font-size: 20px;
   font-weight: 300;
   text-align: center;
   color: var(--surface-600);
}

@media screen and (min-width: 1000px) {
   .text-about {
      padding: 0 15vw;
      font-size: 21.5px;
   }
}
