#acerca {
   border: none;
   background: radial-gradient(#323232, 60%, transparent);
}

app-edit-button {
   position: absolute;
   right: 5vw;
   top: 30px;
}

p {
   padding: 0 15vw;
   font-size: 1.23rem;
   text-align: center;
}

@media screen and (max-width: 1000px) {
   p {
      padding: 0 6vw;
   }
}
