<header class="perfil-container">
  <div class="bg"></div>
  <div class="perfil__foto">
    <div class="img-container">
      <!-- <div class="loader-out" [ngClass]="{ loader: spinner }"></div> -->
      <img src="../../../../assets/skull-ge29fc681b_1280.png" />
    </div>

    <div *ngIf="logged" class="input-container">
      <label
        pButton
        pRipple
        label="Subir imagen"
        for="fileInput"
        class="p-button-sm p-button-warning"
      ></label>
      <input
        type="file"
        accept=".png, .jpg, .jpeg"
        id="fileInput"
        class="hidden"
      />
    </div>
  </div>

  <div
    [ngStyle]="{ 'padding-bottom': logged ? '32px' : 0 }"
    class="perfil__text hidden sm:block"
  >
    <h3 class="mb-3">Hola!, soy</h3>
    <h2 class="mb-3">Diego Salvañá</h2>
    <h4>- Front End Developer -</h4>
  </div>
</header>
