.field {
   padding-top: 1rem;
}

.form-skill-icon {
   width: 5rem;
   height: 7rem;
   font-size: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 1rem;
   margin: auto;
   overflow: hidden;
   color: cadetblue;
}

.form-skill-icon ::ng-deep i {
   font-size: inherit;
}

.p-float-label textarea:focus ~ label,
.p-float-label input:focus ~ label {
   color: var(--blue-300);
}

.p-inputtext:enabled:hover,
.p-inputtext:enabled:focus {
   border-color: #4fc3f7;
}

@media screen and (min-width: 1440px) {
   .form-skill-icon {
      width: 6rem;
      height: 8rem;
   }
}
