.field {
   padding-top: 1rem;
}

.form-skill-icon {
   height: 10rem;
   font-size: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   color: cadetblue;
}

.p-float-label textarea:focus ~ label,
.p-float-label input:focus ~ label {
   color: var(--blue-300);
}

.p-inputtext:enabled:hover,
.p-inputtext:enabled:focus {
   border-color: #4fc3f7;
}
