<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hide()"
>
  <ng-template pTemplate="header">
    <h3 class="text-3xl font-normal">Modicficar Tecnología</h3>
  </ng-template>
  <div>
    <form [formGroup]="formSkill" (ngSubmit)="submit()" autocomplete="off">
      <div class="form-skill-icon" [innerHTML]="svgContent || icon"></div>

      <div class="field">
        <span class="p-float-label">
          <input id="skillName" class="p-inputtext-lg w-12" type="text" pInputText formControlName="name" />
          <label for="skillName">Nombre</label>
        </span>
        <small *ngIf="invalidField('name')" class="p-error block"> El campo es obligatorio. </small>
      </div>

      <div class="field">
        <span class="p-float-label">
          <textarea
            id="skillIcon"
            [rows]="6"
            pInputTextarea
            class="w-12 text-lg"
            formControlName="iconHTML"
          ></textarea>
          <label for="skillIcon">Ícono (SVG)</label>
        </span>
        <small *ngIf="invalidField('iconHTML')" class="p-error block"> El campo es obligatorio. </small>
      </div>

      <button type="submit" style="display: none"></button>
    </form>
  </div>

  <ng-template pTemplate="footer">
    <app-button-primeng
      label="Ok"
      icon="pi pi-check"
      class="p-button-text"
      [loadingState]="loadingBtn"
      (click)="submit()"
    ></app-button-primeng>
  </ng-template>
</p-dialog>
