.ap-logo {
   background-color: var(--surface-300);
   width: 120px;
   border-radius: 5px;
}

.toolbar-container {
   padding: 0 1vw;
}

.p-toolbar-group-end {
   display: flex;
   align-items: center;
}

.p-toolbar-group-end i {
   font-size: 21px;
   color: var(--surface-300);
   transition: all .1s ease-in;
}

.p-toolbar-group-end i:hover {
   color: var(--surface-200);
}

@media screen and (min-width: 1000px) {
   .toolbar-container {
      padding-left: 10%;
      padding-right: 10%;
   }
}
